*{
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: rgba(78,160,255,255);
    background-image: url("img/pattern.png");
    background-size: contain;
    padding-top: 40px;
    padding-left: 5px;
}

main{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.colorGray{
    color: gray;
}

a{
    color: rgba(38,171,229,255);
    text-decoration: none;
}

.sizeSubTitle{
    font-size: 0.8em;
}

.marginTop{
    margin-top: 20px;
}

span{
    background-color: yellow;
}

.colonna1_2{
    width: 25%;
}

.align{
    text-align: left;
}

thead > tr{
    color: white;
    background-color: rgba(30,168,229,255);
}

.righeDispari{
    background-color: rgba(177,228,243,255);
}

table{
    border-collapse: collapse;
}

footer{
    margin-left: 5px;
    margin-right: 5px;
}

.imgFooter{
    height: 207px;
    width: 311px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

#imgFooter1{
    background-image: url("img/monitor.jpg");
}

#imgFooter2{
    background-image: url("img/graph.jpg");
}

h2{
    color: white;
}